<!--

<nav class="navbar navbar-default">
    
    <div class="toolbar" role="banner">
            <span>Welcome to {{ title }}!</span>           
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
                <li><a href="#">SignUp</a></li>
            </ul>
            
        </div>
</nav> -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
    <span>Welcome to {{ title }}!</span>
    
     <div class="spacer"></div>
      <!-- <app-signup></app-signup>  -->
      <a href="./home/home.component.html" >Home</a>
      <a href="#" >Contact Us</a>
      <a href="#">Login</a>
      <a href="./signup/signup.component.html">Signup</a>
      
      <!-- <div class="spacer1"></div>
      <app-server></app-server> -->
     
  </div>
  
